CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode

# Linux artifacts
lib/
tests/easyrdma_tests
unit_tests/easyrdma_unit_tests
core/libeasyrdma.so
core/libeasyrdma.so.1

# Windows artifacts
.vs/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
core/INSTALL.vcxproj
core/INSTALL.vcxproj.filters
core/easyrdma.vcxproj
core/easyrdma.vcxproj.filters
easyrdma.sln
tests/INSTALL.vcxproj
tests/INSTALL.vcxproj.filters
tests/easyrdma_tests.vcxproj
tests/easyrdma_tests.vcxproj.filters
unit_tests/INSTALL.vcxproj
unit_tests/INSTALL.vcxproj.filters
unit_tests/easyrdma_unit_tests.vcxproj
unit_tests/easyrdma_unit_tests.vcxproj.filters
ALL_BUILD.vcxproj.user
INSTALL.vcxproj.user
ZERO_CHECK.vcxproj.user
bin/
core/Debug/
core/Release/
core/easyrdma.dir/
core/easyrdma.vcxproj.user
core/packages.config
packages.config
packages/
tests/easyrdma_tests.dir/
tests/easyrdma_tests.vcxproj.user
unit_tests/Debug/
unit_tests/Release/
unit_tests/easyrdma_unit_tests.dir/
unit_tests/easyrdma_unit_tests.vcxproj.user
x64/
tests/Debug/
tests/Release/
